apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: pre
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        volumeMounts:
        - mountPath: /tmp/test
          name: test-pv
      volumes:
      - name: test-pv
        persistentVolumeClaim:
          claimName: local-claim
